@charset "UTF-8";
.grid-definicion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
}
.grid-definicion .logo-style {
  height: 100px;
  padding: 0px;
  grid-column: 2;
  height: 100%;
  margin-bottom: 5px;
}
.grid-definicion .menu-grid {
  display: grid;
  list-style: none;
  grid-area: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}
.grid-definicion .menu-grid .ul {
  list-style: none;
}
.grid-definicion .menu-grid .menu {
  color: black;
  width: 95%;
  display: flex;
  justify-content: space-around;
  font-family: "Montserrat", sans-serif;
}
.grid-definicion .menu-grid .a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: space-between;
}

.diseño-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin-bottom: 3rem;
}
.diseño-grid .diseño-slogan {
  grid-column: 2;
  height: 200%;
}

.titulomi-style {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  font-family: Brittany;
  font-size: xxx-large;
  margin: 0px 0px 0px 0px;
}

.info-mabe {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
.info-mabe .mabe-image {
  height: 23rem;
  margin-left: 1rem;
}

/*texto de acerca de mi*/
.texto-mi {
  margin: 0px 0px 0px 50px;
  display: table;
}
.texto-mi .texto-mi-style {
  font-weight: bold;
  display: table-cell;
  vertical-align: middle;
}

.titulo-huespedes-style {
  margin: 0px;
}

.huespedes-style {
  margin: 30px 0px 25px 0px;
  display: flex;
  justify-content: center;
  font-family: brittany;
  font-size: xxx-large;
}

.huespedes {
  display: grid;
  margin-left: 1rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 45px;
}

.fotos-style {
  margin: 0px 0px 0px 30px;
}
.fotos-style .lupita-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .oddi-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .milo-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .zimba-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .polo-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .tomi-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .alma-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .gala-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .milo-image:hover {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .mononu-image {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .napoleon-image {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .oddie-image {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .roma-image {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}
.fotos-style .williams-image {
  height: 200px;
  transition: 1s;
  transform: scale(2);
}

.tituloinfo-style {
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: center;
  font-family: brittany;
  font-size: xxx-large;
}

.informacion-style {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  display: table;
  font-weight: bold;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.perro-image {
  height: 23rem;
  margin-bottom: 0px;
}

.tituloestamos-style {
  margin: 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  font-family: brittany;
  font-size: xxx-large;
}

.ubi-ubi {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.mapa-image {
  height: 15rem;
  margin-top: 50px;
  grid-area: 1;
}

.tituloredes-style {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: center;
  font-family: brittany;
  font-size: xxx-large;
}

.foto-redes3 {
  height: 23rem;
}

.ig-style {
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
}

.fb-style {
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
}

.wa-style {
  height: 50px;
  cursor: pointer;
  margin-top: 40px;
}

body {
  background-color: white;
}

@font-face {
  font-family: Brittany;
  src: url("BrittanySignature.ttf");
}

/*# sourceMappingURL=style.css.map */
