.tituloinfo-style{
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    font-family: brittany;
    font-size: xxx-large;
}

.informacion-style{
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    display: table;
    font-weight: bold;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}    

.perro-image{
    height: 23rem;
    margin-bottom: 0px;
}