.tituloredes-style{
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    font-family: brittany;
    font-size: xxx-large;
}
.foto-redes3{
    height: 23rem;
     
}

.ig-style{
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
}
.fb-style{
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
}
.wa-style{
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
}