@import 'header';
@import 'slogan';
@import 'mi';
@import 'huespedes';
@import 'informacion';
@import 'estamos';
@import 'redes';

body{
    background-color: white;
}

@font-face {
    font-family: Brittany;
    src: url('BrittanySignature.ttf');
}