body{
    background-color: white;
}

/*logo*/
.grid-definicion{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    
    }
.logo-style{
    height: 100px;
    padding: 0px;
    
}
.logo-ubicacion{
grid-column: 2;
height: 100%;
margin-bottom: 5px;
}
/*foto slogan*/
.grid-style{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 150px 150px;
    margin-bottom: 5px;
    
}
.slogan{
    height: 200px;
    padding: 0px;
    
}
/*Por favor necesito que me ayudes a que la foto del slogan quede al mismo nivel que la navbar de margen derecho */
@font-face {
    font-family: Brittany;
    src: url('BrittanySignature.ttf');
}
.slogan-tipo{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    margin-bottom: 0px;
}
   
a{
    text-decoration: none;
    color: grey;
    display: flex;
    justify-content: space-between;
       
}

ul {
    list-style: none;
    border: 2px solid;
   
}
    
/*NAV BAR*/
.menu-grid{
    display: grid;
    list-style: none;
    grid-area: 2;
    grid-column-start: 1;
    grid-column-end: 4;

    
}
.menu{
    color: black;
    width: 95%;
    display: flex;
    justify-content:space-around;
    font-family: 'Montserrat', sans-serif;
}
/*ACERCA DE MI - Necesito que me indiques como poder agrandar el tamaño de la letra*/
.titulomi-style{
    margin: 0px 0px 0px 0px;
    background-color: #fdd33f;
    display: flex;
    justify-content:center;
    font-family: Brittany;
    font-size: xxx-large;
}

.info-mabe{
    display: flex;
    justify-content: center;
    background-color: #fdd33f;
}
.mabe-image{
    height: 23rem;
}
/*texto de acerca de mi*/
/*Cuando la pantalla esta minimizada se ve pérfecto, pero cuando se pone la pantalla completa el texto me queda todo en la parte superior de la caja de texto*/
.reseña{
    background-color: #fdd33f;
    margin: 120px 0px 0px 0px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

/*HUESPEES*/
.huespedes-style{
    margin: 10px 0px 0px 0px;
    background-color: #a6a6a6;
    display: flex;
    justify-content: center;
    font-family: brittany;
    font-size: xxx-large;
    
}
.huespedes-photos{
    display: flex;
    justify-content: center;
    background-color: #a6a6a6;
}

.lupita-image{
    height: 200px;
    transition: 1s;
}
.lupita-image:hover{
    transform: scale(2);
}
.oddi-image{
    height: 200px;
    transition: 1s;
}
.oddi-image:hover{
    transform: scale(2);
}

.milo-image{
    height: 200px;
    transition: 1s;
}
.milo-image:hover{
    transform: scale(2);
}
.zimba-image{
    height: 200px;
    transition: 1s;
}
.zimba-image:hover{
    transform: scale(2);
}
.polo-image{
    height: 200px;
    transition: 1s;
}
.polo-image:hover{
    transform: scale(2);
}
.tomi-image{
    height: 200px;
    transition: 1s;
}
.tomi-image:hover{
    transform: scale(2);
}

/*INFORMACION SOBRE LA ESTADÍA*/
.informacion-flex{
    display: flex;
    justify-content: center;
}
.informacion{
    background-color: #fdd33f;
    height: 100%;
    margin-top: 50px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.informacion-style{
    margin: 0px 0px 0px 0px;
    background-color: #fdd33f;
    display: flex;
    justify-content: center;
}
.tituloinfo-style{
    margin: 10px 0px 0px 0px;
    background-color: #fdd33f;
    display: flex;
    justify-content: center;
    font-family: brittany;
    font-size: xxx-large;
}
.perro-image{
    background-color: #fdd33f;
    height: 23rem;
    margin-bottom: 0px;
}

/*DONDE ESTAMOS*/
.ubi-ubi{
    display: flex;
    justify-content: space-around;
    background-color: #a6a6a6;
}
.estamos-style{
    margin: 10px 0px 0px 0px;
    background-color: #a6a6a6;
    display: flex;
    justify-content: center;
    font-family: brittany;
    font-size: xxx-large;
}
.ubicacion-image{
    height: 23rem;
    background-color: #a6a6a6;
    margin-right: 50px;
    
}
.mapa-image{
   height: 15rem;
   margin-top: 50px;
   
}

.tituloestamos-style{
    margin: 0px;
}

/*NUESTRS REDES*/
.redes-color-fondo{
    background-color: #fdd33f;
    display: flex;
    justify-content:center
}
.redes-style{
    margin: 10px 0px 0px 0px;
    background-color: #fdd33f;
    display: flex;
    justify-content: center;
    font-family: brittany;
    font-size: xxx-large;
}

.tituloredes-style{
    margin: 0px;
}
.foto-redes3{
    height: 23rem;
     
}

.ig-style{
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
}
.fb-style{
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
}
.wa-style{
    height: 50px;
    cursor: pointer;
    margin-top: 40px;
}